{{> layout/header}}

<body>

<div class="container">
    <h1 class="pt-md-5 pb-md-5">Profile</h1>

    <div class="card-deck">
        <div class="col-md-3">
            <div class="card shadow-sm mb-3">
                <div class="card-header">
                    <h3 class="my-0 font-weight-normal">{{name}}</h3>
                </div>
                <h5>Team :</h5>
                {{#pokemonTeam}}
                <div class="card">
                    <img class="card-img-top" src="{{sprites.front_default}}" alt="Pokemon"/>
                    <div class="card-body">
                        <span class="badge badge-primary">Level : {{level}}</span>
                    </div>
                </div>
                {{/pokemonTeam}}
            </div>
        </div>
    </div>

</div>

</body>
</html>